<h1>[<%= "#{Date.today}" %>]のリマインド</h1>

<p><%= @user.email[/[a-z\d\w\-.]+/,0] %>さん、おはようございます！</p>

<h3>締め切り注意！</h3>
<ul>
  <% @todays_tasks.each do |tdl| %>
  <li><%= tdl.deadline %>〜<%= tdl.name %></li>
  <% end %>
</ul>
<p>「千里の道も一歩から」何事にも動き出す最初のステップがあります！</p>
